[Unit]
Description=Homepage container


[Container]
ContainerName=homepage
Image=ghcr.io/gethomepage/homepage:latest
Pod=homepage.pod
AutoUpdate=registry
Volume={{ config_path }}:/app/config:Z
{% if docker_integration is true %}Volume=/var/run/docker.sock:/var/run/docker.sock{% endif %}

[Service]
Restart=always

[Install]
WantedBy=multi-user.target